<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin - Captured Photos (Lite)</title>
</head>
<body>
    <h1>Captured Photos</h1>
    <div>
        {% for image in images %}
            <div>
                <img src="{{ image }}" alt="Captured Photo" width="100">
                <div>
                    <a href="{{ image }}">{{ image.split('/').pop() }}</a>
                </div>
                <form action="/delete/{{ image }}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </div>
            <hr>
        {% endfor %}
    </div>
</body>
</html>
